<div class="jumbotron mt-2">
    <h1>Dreamforce 2019 Playlist Generator</h1>
    <p>
        This app lists the sessions (I know off) that are listed on Youtube and allows 
        you to generate playlists on Youtube for easier viewing and sharing. Please 
        note that the sessions are read from a spreadsheet I received and are not 
        read dynamically from Youtube so there might be sessions on Youtube 
        which are not in this list. If there is please 
        <a href="https://twitter.com/lekkim">tweet me</a>, Chatter me or email me. 
    </p>
    <p>
        <a href="/list" class="btn btn-lg btn-success">Take me to the list... &gt;&gt;</a>
        <br/>
        <small><em>Clicking the button above will take you to Youtube to authorize this app 
            before displaying the list. The app will need permission to create playlists on 
            your behalf. It does not read, store, transmit or in other way process your 
            existing Youtube data or subscriptions.</em></small>
    </p>
</div>
